---
import htmlSvg from "../assets/svgs/html.svg";
import cssSvg from "../assets/svgs/css.svg";
import jsSvg from "../assets/svgs/javascript.svg";
import nodeSvg from "../assets/svgs/nodejs.svg";
import pythonSvg from "../assets/svgs/python.svg";
import reactSvg from "../assets/svgs/react.svg";
import astroSvg from "../assets/svgs/astro.svg";
---

<div class="tech-grid stagger-fade-up">
  <div class="tech-chip glass anim-base">
    <span
      class="tech-icon"
      role="img"
      aria-label="HTML"
      style={`color: white; background-color: transparent; background-image: url(${htmlSvg.src}); background-repeat: no-repeat; background-position: center; background-size: contain;`}
    >
    </span>
  </div>
  <div class="tech-chip glass anim-base">
    <span
      class="tech-icon"
      role="img"
      aria-label="CSS"
      style={`color: white; background-color: transparent; background-image: url(${cssSvg.src}); background-repeat: no-repeat; background-position: center; background-size: contain;`}
    >
    </span>
  </div>
  <div class="tech-chip glass anim-base">
    <span
      class="tech-icon"
      role="img"
      aria-label="JavaScript"
      style={`color: white; background-color: transparent; background-image: url(${jsSvg.src}); background-repeat: no-repeat; background-position: center; background-size: contain;`}
    >
    </span>
  </div>
  <div class="tech-chip glass anim-base">
    <span
      class="tech-icon"
      role="img"
      aria-label="Node.js"
      style={`color: white; background-color: transparent; background-image: url(${nodeSvg.src}); background-repeat: no-repeat; background-position: center; background-size: contain;`}
    >
    </span>
  </div>
  <div class="tech-chip glass anim-base">
    <span
      class="tech-icon"
      role="img"
      aria-label="Python"
      style={`color: white; background-color: transparent; background-image: url(${pythonSvg.src}); background-repeat: no-repeat; background-position: center; background-size: contain;`}
    >
    </span>
  </div>
  <div class="tech-chip glass anim-base">
    <span
      class="tech-icon"
      role="img"
      aria-label="React"
      style={`color: white; background-color: transparent; background-image: url(${reactSvg.src}); background-repeat: no-repeat; background-position: center; background-size: contain;`}
    >
    </span>
  </div>
  <div class="tech-chip glass anim-base">
    <span
      class="tech-icon"
      role="img"
      aria-label="Astro"
      style={`color: white; background-color: transparent; background-image: url(${astroSvg.src}); background-repeat: no-repeat; background-position: center; background-size: contain;`}
    >
    </span>
  </div>
</div>
