---
import htmlSvg from "../assets/svgs/html.svg";
import cssSvg from "../assets/svgs/css.svg";
import jsSvg from "../assets/svgs/javascript.svg";
import nodeSvg from "../assets/svgs/nodejs.svg";
import pythonSvg from "../assets/svgs/python.svg";
import reactSvg from "../assets/svgs/react.svg";
import astroSvg from "../assets/svgs/astro.svg";
---

<div class="tech-grid fade-in">
  <div class="tech-chip glass">
    <span
      class="tech-icon"
      role="img"
      aria-label="HTML"
      style={`-webkit-mask: url(${htmlSvg.src}) no-repeat center / contain; mask: url(${htmlSvg.src}) no-repeat center / contain;`}
    ></span>
  </div>
  <div class="tech-chip glass">
    <span
      class="tech-icon"
      role="img"
      aria-label="CSS"
      style={`-webkit-mask: url(${cssSvg.src}) no-repeat center / contain; mask: url(${cssSvg.src}) no-repeat center / contain;`}
    ></span>
  </div>
  <div class="tech-chip glass">
    <span
      class="tech-icon"
      role="img"
      aria-label="JavaScript"
      style={`-webkit-mask: url(${jsSvg.src}) no-repeat center / contain; mask: url(${jsSvg.src}) no-repeat center / contain;`}
    ></span>
  </div>
  <div class="tech-chip glass">
    <span
      class="tech-icon"
      role="img"
      aria-label="Node.js"
      style={`-webkit-mask: url(${nodeSvg.src}) no-repeat center / contain; mask: url(${nodeSvg.src}) no-repeat center / contain;`}
    ></span>
  </div>
  <div class="tech-chip glass">
    <span
      class="tech-icon"
      role="img"
      aria-label="Python"
      style={`-webkit-mask: url(${pythonSvg.src}) no-repeat center / contain; mask: url(${pythonSvg.src}) no-repeat center / contain;`}
    ></span>
  </div>
  <div class="tech-chip glass">
    <span
      class="tech-icon"
      role="img"
      aria-label="React"
      style={`-webkit-mask: url(${reactSvg.src}) no-repeat center / contain; mask: url(${reactSvg.src}) no-repeat center / contain;`}
    ></span>
  </div>
  <div class="tech-chip glass">
    <span
      class="tech-icon"
      role="img"
      aria-label="Astro"
      style={`-webkit-mask: url(${astroSvg.src}) no-repeat center / contain; mask: url(${astroSvg.src}) no-repeat center / contain;`}
    ></span>
  </div>
</div>
